<div class="col-sm-12 col-md-12 main">
    <header class="image-bg-fluid-height">
            <h1 class="img-responsive img-center">Welcome to Moive Journey!</h1>
    </header>
    <hr>
    <div>
        <p>
            <strong>Sitting</strong> in a room with your friends munching on popcorns and sipping your favourite smoothie you watch your favourite actors battle aliens in a larger than life frame. You feel excited, scared, emotional and happy during those two and a half hours; you are transferred to a world away from reality and you enjoy every moment of it. As you walk out of the theater doors, you feel rejuvenated, de-stressed and realize that you had, even for a few hours at least, forgotten about the troubles of day to day life. I read somewhere that certain therapists have actually prescribed films to help patients overcome obstacles like depression or a slump in their emotional well being.
        </p>
    </div>
    <br>
    <div class="col-sm-2 col-sm-offset-5">
        <a href="#/register" class="btn btn-success">Sign Up</a>
        <a href="#/login" class="btn btn-primary">Sign In</a>
    </div>
</div>
